#projectDiv {
    background-color: #2b2b2b;
    border-bottom: 1px #ddd solid;
    max-width: 350px;
    padding: 10px;
}

#projectDiv h3, #projectDiv span, #linkDiv {
    background-color: #2b2b2b;
}

#linkDiv {
    justify-content: space-between;
}