/* #projects {
    height: 100vh;
} */

#project-item {
    margin: 15px;
    min-width: 90%;
    max-width: 90%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#project-item span {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.tech-item {
    flex-grow: 1;
    flex-basis: 200;
}

#tech-list {
    list-style: none;
    width: 30%;
    color: #fff;
    margin: 3px;
    border-radius: 5rem;
    max-width: 100px;
    cursor: pointer;
    border: none;
}

.dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #bf263c;
    box-shadow: 0 0 7px #bf263c, 0 0 10px #bf263c, 0 0 21px #bf263c;
    /* padding-right: 2px; */
}

#tech-list:hover {
    color: #d8334a;
}

#project-item a {
    background-color: var(--primary-color);
}

.link-icon {
    font-size: 18px;
    margin-left: 3px;
    margin-bottom: 5px;
}

#link-grid a {
    margin: 0 5px;
    background-color: var(--background-color);
    border: 1px solid #2c2c2c;
}

#link-grid a:hover {
    background-color: #000000;
    border: 1px solid #000000;
}

@media only screen and (max-width: 678px) {
    #project-item {
        max-height: 300px;
        min-height: 200px;
    }

    #project-item, #project-title, #project-info, #tech-list, .link-icon {
        font-size: medium;
    }

    .live-btn {
        margin-bottom: 5px;
    }
}

/* not working for some reason */
@media only screen and (max-width: 390px) {
    .live-btn {
        margin-bottom: 5px;
    }
}