#skill-ctr {
    background-color: rgb(18, 18, 18);
    margin-top: 15px;
    /* height: 100vh; */
}

.skill-item {
    flex-grow: 1;
    flex-basis: 200;
    /* background-color: var(--semi-background-color); */
    margin: 0 5px 0 5px;
    font-size: 5rem;
    cursor: pointer;
    align-items: center;
    /* padding-top: 0; */
    max-height: 7rem;
    padding: 0;
}

.skill-icon {
    margin-bottom: 25px;
}

.test {
    font-size: 5rem;
}

.skill-item h3 {
    font-size: 5rem;
}

.skill-hr {
    background-color: #bf263c;
    border: 4px solid #bf263c;
    margin: 1rem 0;
    border: 0;
}

@media only screen and (max-width: 678px) {
    .live-btn {
        margin-bottom: 5px;
    }
}

/* testing */
